[submodule "00_welcome"]
	path = 00_welcome
	url = https://github.com/DaviCastanha/welcome.git
[submodule "01_todolist"]
	path = 01_todolist
	url = https://github.com/DaviCastanha/todo.git
[submodule "02_poke"]
	path = 02_poke
	url = https://github.com/DaviCastanha/whosthatpokemon.git
